extends base

block content
  .form.dean-form
    form.form.form--dean
      .content
          each special in x
            table
              thead 
              tr
                th Id
                th name
                th regNo
                th matter
                th Grounds
                th Dean Recommendation
              tbody 
              tr
                td #{special._id}
                td #{special.name}
                td #{special.regNo}
                td #{special.matter}
                td #{special.grounds}
                td 
                  input#status(type='text' required='')
                
          .form__group
            button.btn.btn--green Submit

    