extends base

block content
 .content
  table
    tr
      th Id
      th name
      th regNo
      th unit code
      th unit name
      th status
    tr
      td #{exam._id}
      td #{exam.name}
      td #{exam.regNo}
      td #{exam.unitCode}
      td #{exam.unitName}
      td #{exam.status}